* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width:100%;
}

body {
    margin: 0;
    place-items: center;
    background-color: #eaeef6;/*#fff*/
    font-family: system-ui, sans-serif;
/*    display: grid;*/
}


/*############# En-Tête ##############*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
  background-color: rgb(0,68,88); /*#005670;*/
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

button {
  padding: 0px 25px;
  background-color: #F2A900;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  height: 50px;
}

button:hover {
  background-color: #F2A900aa;

}

.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #F2A900; /*#0088a9;*/
}

ul {
  align-items: center;
}

li {
  list-style-type: none;
}

section ul {
  flex-direction: column;
  display: none;
  background-color: white;
  align-items: flex-start;
  transition: all 0.5s ease;
  position: absolute;
  width: 12rem;
  right: 0rem; /*-1rem;*/
  top: 3.5rem;
  border-radius: 0.325rem;
  gap: 0;
  padding: 1rem 0rem;
  opacity: 0;
  box-shadow: 0px 0px 100px rgba(20, 18, 18, 0.25);
}

section:hover > ul,
section ul :hover {
  visibility: visible;
  opacity: 1;
  display: flex;
  box-shadow: 0px 3px 5px 2px #EBECF1;

}

.nav-item {
  flex-direction: row-reverse;
  font-size: 0.9rem;
  line-height: 1rem;
  align-items: center;
  max-width: 130px;
  min-width: 130px;
  justify-content: space-between;
  transition: all 80ms ease;
  padding-right: 3px;/*A supprimer*/
}
.nav-item.active {
  color: #b0c4de;/*#add8e6; /*#008080;*/
  font-weight: 700;
}

.nav-item:not(.active):hover {
  color: #F2A900; /*#007f66;*/
}
.nav-item:hover > .icon .subicon {
  height: 22px;
  width: 22px;
  border-radius: 22px;
  top: -11px;
  right: -6px;
  border-color: white;
}
.nav-item:not(:first-of-type) {
  border-left: 1px solid #4682b4;/*#3c3c3c;*/
}
.nav-item:not(:last-of-type) {
  border-right: 0.1rem solid black;
}
.nav-item a {
  color: inherit;
  text-decoration: none;
  padding: 1ch;
}
.nav-item .icon {
  padding: 1ch;
  position: relative;
}
.nav-item .icon .subicon {
  text-shadow: none;
  transition: all 40ms ease;
  position: absolute;
  top: -3px;
  right: -3px;
  background: red;
  color: white;
  box-shadow: 0 0 4px rgba(41, 41, 41, 0.405);
  width: 18px;
  height: 18px;
  border-radius: 14px;
  font-size: 0.7em;
  font-weight: 700;
  display: inline-grid;
  place-items: center;
  border: 2px solid #ff8080;
}
.nav-item .icon > svg {
  max-width: 16px;
}

.material-icons-outlined {
  color: #888888;
  transition: all 0.3s ease-out;
}

.material-icons-outlined:hover {
  color: #ff9800;
  transform: scale(1.25) translateY(-4px);
  cursor: pointer;
}

.profile {
  height: 3rem;
  width: auto;
  cursor: pointer;
}

.sub-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.725rem;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}

.sub-item:hover {
  background-color: rgba(232, 232, 232, 0.4);
}

.sub-item:hover .material-icons-outlined {
  color: #F2A900;/*#ff9800;*/
  transform: scale(1.08) translateY(-2px);
  cursor: pointer;
}

.sub-item:hover p {
  color: #000;
  cursor: pointer;
}

.sub-item p {
  font-size: 0.85rem;
  color: #888888;
  font-weight: 500;
  margin: 0.4rem 0;
  flex: 1;
}


/*.sub-item:hover a {
  color: #000;
  cursor: pointer;
}

.sub-item a {
  font-size: 0.85rem;
  color: #888888;
  font-weight: 500;
  margin: 0.4rem 0;
  flex: 1;
}*/

/*+++++++++++++++++*/

.imgcirc {
  width: 50px;
  height: 50px;
  border-radius: 50%;
/*  overflow: hidden;*/
  object-fit: cover;
  display: inline-block;
}


/****** Produits ******/
/****** Produits ******/
/****** Produits ******/

#grille-produit {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

.item-produit {
	display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

/*++++++*/

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-left: 7rem;
  margin-top: auto;
}

/*+++++*/

.image-produit {
	height: 155px;
	width: 250px;
	background-color: #fff;
	text-align: center;
	margin: 10px auto;
  display: block;
  object-fit: cover;
}

.image-produit img {
	width:95%;
  height: 100%;
}

.quantite-produit {
	width: 50px;
  padding: 5px 10px;
  border-radius: 3px;
  border: #E0E0E0 1px solid;
}

.btnActionAjout {
  padding: 8px 10px;
  margin-left: 5px;
  background-color: #F2A900BB;
  border: #F2A900BB 1px solid;
  float: right;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  color: rgb(0,68,88); /*#005670;*/
  font-weight: 600;
}


/****** Table (panier) ******/
/****** Table (panier) ******/
/****** Table (panier) ******/

/*table {
    border-collapse: collapse;
    width: 100%;
    letter-spacing: 1px;
    font-size: 13px;
}
th {
    padding: 10px 0;
    font-weight: 400;
}
td {
    border-top: 0.5px solid #999;
    text-align: center;
    color: #37a6ff;
}
tr {
    border-bottom: 0.5px solid #999;
}

.total th {
    border: 0;
    float: left;
    font-weight: 500;
    color: #37a6ff;
    padding: 10px;
}*/


/*++++++++++++LOGIN+++++++++++++++*/
/*++++++++++++LOGIN+++++++++++++++*/
/*++++++++++++LOGIN+++++++++++++++*/

.box {
  border: 1px solid #c4c4c4;
  padding: 30px 25px 10px 25px;
  background: white;
  margin: 100px auto;
  width: 400px;
}
h1.box-logo a {
  text-decoration:none;
}
h1.box-title {
  color: #860111;
  background: #f8f8f8;
  font-weight: 500;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 2em;
  text-align:center;
  margin: -27px -21px 26px;
  width: 390px;
}
.box-button {
  border-radius: 6px;
  background: #367588;
  text-align: center;
  cursor: pointer;
  font-size: 1.5em;
  width: 100%;
  height: 51px;
  padding: 0;
  color: #fff;
  border: 0;
  outline:0;
}
.box-button:hover {
  background-color: #6b8e23;
}
.box-register
{
  text-align:center;
  margin-bottom:0px;
}
.box-register a
{
  text-decoration:none;
  font-size:1em;
  color: #007f66;
}
.box-input {
  font-size: 1.1em;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 25px;
  padding-left:10px;
  border-radius: 5px;
  width: 347px;
  height: 50px;
}
.box-input:focus {
    outline: none;
    border-color:#6b8e23;
}
.succes{
  text-align: center;
  color: white;
}
.succes a {
  text-decoration: none;
  font-size: 1.2em;
  color: #dc143c;
}
p.MessageErreur {
    background-color: #e66262;
    border: #AA4502 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 3px;
}
/*++++++++++++LOGIN+++++++++++++++*/



/*@media screen and (max-width: 680px) {
  nav {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    height: 290px;
  }

  .nav-item {
    float: none;
  }

  #grille-produit{
    margin-top: 240px;
  }
}*/

/*++++++++++++++++++++++++++*/

/*@media only screen and (max-width: 768px) {
  nav .nav__item {
    flex-direction: column;
  }
  .nav_item {
    display:none;
  }
}

@media screen and (max-width: 768px) {
  nav > ul > li {
    flex-basis: 100%;
    width: 100%;
    height: 34px;
  }
}*/


@media (min-width: 481px) and (max-width: 768px) {

  header {
    margin-top: 0;
    padding: .60em;
    text-align: center;
/*    background-color: white;*/
  }
  nav {
    /*background-color: #005670; /*rgba(148, 187, 255, 1.0);*/
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline;
  }

  nav a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
  }

}


/*** Pied de page ***/
/*** Pied de page ***/
/*** Pied de page ***/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}

.footer{
  background-color: #005670; /*#24262b;*/
  padding: 35px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #F2A900;/*#e91e63;*/
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
































@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


:root{
   --blue:#3498db;
   --red:#e74c3c;
   --orange:#f39c12;
   --black:#333;
   --white:#fff;
   --light-bg:#eee;
   --box-shadow:0 5px 10px rgba(0,0,0,.1);
   --border:2px solid var(--black);
}

*::-webkit-scrollbar{
   width: 10px;
   height: 5px;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--blue);
}



.message{
   position: sticky;
   top:0; left:0; right:0;
   padding:15px 10px;
   background-color: var(--white);
   text-align: center;
   z-index: 1000;
   box-shadow: var(--box-shadow);
   color:var(--black);
   font-size: 20px;
   text-transform: capitalize;
   cursor: pointer;
}

.btn,
.delete-btn,
.option-btn{
   display: inline-block;
   padding:6px 20px;
   cursor: pointer;
   font-size: 16px;
   color:var(--white);
   border-radius: 5px;
   text-transform: capitalize;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color: var(--black);
}

.btn{
   background-color: var(--blue);
   margin-top: 10px;
}

.delete-btn{
   background-color: var(--red);
}

.option-btn{
   background-color: #F1AB00; /*var(--orange);*/
}







.shopping-cart{
/*  height: 65vh;*/
   padding:20px 20px;
}

.shopping-cart table{
   width: 100%;
   text-align: center;
   border:var(--border);
   border-radius: 5px;
   box-shadow: var(--box-shadow);
   background-color: var(--white);
}

.shopping-cart table thead{
   background-color: var(--black);
}

.shopping-cart table thead th{
   padding:10px;
   color:var(--white);
   text-transform: capitalize;
   font-size: 20px;
}

.shopping-cart table .table-bottom{
   background-color: var(--light-bg);
}

.shopping-cart table tr td{
   padding:10px;
   font-size: 20px;
   color:var(--black);
}

.shopping-cart table tr td:nth-child(1){
   padding:0;
}

.shopping-cart table tr td input[type="number"]{
   width: 80px;
   border:var(--border);
   padding:12px 14px;
   font-size: 20px;
   color:var(--black);
}

.shopping-cart .cart-btn{
   margin-top: 10px;
   text-align: center;
}

.shopping-cart .disabled{
   pointer-events: none;
   background-color: var(--red);
   opacity: .5;
   user-select: none;
}


@media (max-width:1200px){
   .shopping-cart{
      overflow-x: scroll;
   }

   .shopping-cart table{
      width: 1200px;
   }
}


























/***********************/
/***********************/
/***********************/
/***********************/
/***********************/
/***********************/
/***********************/

:root{
  --color-white: #fff;
  --color-dark: #363949;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;   
}

.theader {
  background-color: #327a81;
  color: var(--color-white);
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.circular_image{
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  height: 60px;
  vertical-align:middle;
  margin-left: auto;
  margin-right: auto;
}
.circular_image img{
  width:100%;
  height:100%;
  object-fit: cover;
}

.table-users {
  border: 1px solid #327a81;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 98%;
}

table {
  width: 100%;
}
table td, table th {
  color: var(--color-dark);
  padding: 10px;
  background-color: var(--color-white);
}
table td {
  text-align: center;
  vertical-align: middle;
}
table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
}
table th {
  background-color: var(--color-succes);
  font-weight: 300;
}

/*table tr:nth-child(2n) {
  background-color: white;
}
table tr:nth-child(2n+1) {
  background-color: var(--color-warning);
}*/
table tr {
  background-color: white;
}
table tr:first-child {
    background-color: var(--color-warning);
  }
table tr {
 border:0.5px solid lightgray;
 }

@media screen and (max-width: 700px) {
  table, tr, td {
    display: block;
  }

  td:first-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60%; /*100px;*/
  }
  td:not(:first-child) {
    clear: both;
    margin-left: 100%;/*130px;*/
    width: 250%;
    padding: 4px 20px 4px 80%; /*90px;*/
    position: relative;
    text-align: left;
  }
  td:not(:first-child):before {
    color: #91ced4;
    content: "";
    display: block;
    left: 0;
    position: absolute;
  }
  td:nth-child(2):before {
    content: "Nom :";
  }
  td:nth-child(3):before {
    content: "Référence :";
  }
  td:nth-child(4):before {
    content: "Prix (Unit.) :";
  }
  td:nth-child(5):before {
    content: "Quantité :";
  }
  td:nth-child(6):before {
    content: "Prix :";
  }
  td:nth-child(7):before {
    content: "Action :";
  }


  tr:last-child {
    td:before {
      display: none;
    }
  }

  tr {
/*    padding: 10px 0;*/
    margin: 10px 5px;
    position: relative;
  }
  tr:first-child {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .theader {
    background-color: transparent;
    color: white;
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }

.circular_image{
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  vertical-align:middle;
  margin-left: auto;
  margin-right: auto;
}
.circular_image img{
  width:100%;
  height:100%;
  object-fit: cover;
}

  td:first-child {
    background-color: #c8e7ea;
    border-bottom: 1px solid #91ced4;
    border-radius: 10px 10px 0 0;
    position: relative;
    top: 0;
    transform: translateY(0);
    width: 100%;
  }
  td:not(:first-child) {
    margin: 0;
    padding: 5px 1em;
    width: 100%;
  }
  td:not(:first-child):before {
    font-size: 0.8em;
    padding-top: 0.3em;
    position: relative;
  }
  td:last-child {
    padding-bottom: 1rem !important;
  }

  tr {
    background-color: white !important;
    border: 1px solid #6cbec6;
    border-radius: 10px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
    padding: 0;
  }

  .table-users {
    border: none;
    box-shadow: none;
    overflow: visible;
  }
}

.cart-btn2{
   margin-top: 10px;
   margin-bottom: 30px;
   text-align: center;
}


.quantite-produit2 {
  font-size: 0.8em;
  text-align: center;
  width: 50px;
  height: 30px;
  padding: 6px 6px;
  border-radius: 3px;
  border: #E0E0E0 2px solid;
}

.disabled{
   pointer-events: none;
   background-color: var(--red);
   opacity: .5;
   user-select: none;
}







.multi-button {
  display: flex;
/*  align-items: center;*/
  justify-content: center;
/*  flex-wrap: wrap;*/
  margin: 10px 20px;
  gap: 100px;
  padding: 10px;
  place-items: center;
}



