body {
  background: #5f9ea0;
}
.box {
  border: 1px solid #c4c4c4;
  padding: 30px 25px 10px 25px;
  background: white;
  margin: 30px auto;
  width: 360px;
}
h1.box-logo a {
  text-decoration:none;
}
h1.box-title {
  color: #860111;
  background: #f8f8f8;
  font-weight: 500;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 2em;
  text-align:center;
  margin: -27px -26px 26px;
}
.box-button {
  border-radius: 6px;
  background: #367588;
  text-align: center;
  cursor: pointer;
  font-size: 1.5em;
  width: 100%;
  height: 51px;
  padding: 0;
  color: #fff;
  border: 0;
  outline:0;
}
.box-button:hover {
  background-color: #6b8e23;
}
.box-register
{
  text-align:center;
  margin-bottom:0px;
}
.box-register a
{
  text-decoration:none;
  font-size:1em;
  color: #007f66;
}
.box-input {
  font-size: 1.1em;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 25px;
  padding-left:10px;
  border-radius: 5px;
  width: 347px;
  height: 50px;
}
.box-input:focus {
    outline: none;
    border-color:#6b8e23;
}
.succes{
	text-align: center;
	color: white;
}
.succes a {
	text-decoration: none;
  font-size: 1.2em;
	color: #dc143c;
}
p.MessageErreur {
    background-color: #e66262;
    border: #AA4502 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 3px;
}