:root{
    --vert-standard: #008000;
    --orange-carnus: #F2A900;
    --bleu-carnus: rgb(0,68,88);
    --couleur-bg: #f0f8ff;

    --border-radius: 10px;
    --padding: 20px;
}

body {
  font-family: Arial;
  padding: var(--padding);
  background: var(--couleur-bg);
  color: var(--bleu-carnus);
}

/* Paragraphe */
p {
  color: var(--orange-carnus);
}

/* Rectangle */
.rectangle {
  width: calc(50% - 40px);
/*  width: calc(100%˽-˽500px);*/
/*  width: calc(100%⌴-⌴500px);*/
  height: 100px;
  background-color: var(--vert-standard);
  border: 2px solid var(--bleu-carnus);
  border-radius: var(--border-radius);
}

/* Carré */
.carre {
  margin: var(--padding);
  --largeur: 500px;
  --cote: calc(var(--largeur) / 3); /* 166.666 */
  width: var(--cote);
  height: var(--cote);
  background-color: var(--orange-carnus);
  text-align: center;
}

/* Bouton */
.bouton {
  margin: var(--padding);
  display: block;
  padding: var(--padding);
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: var(--orange-carnus);
  border: none;
  border-radius:calc(2 * var(--border-radius));
}

.bouton:hover {
  background-color: var(--bleu-carnus);
}